/* app global css */

main {
  min-height: 100%;
}

body,
body a {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: none;
  user-select: none;
  touch-callout: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  overscroll-behavior-y: contain;
  overscroll-behavior-x: none;
}

body,
html,
#q-app {
  min-height: 100% !important;
  max-height: 100% !important;
  height: 100% !important;
}

.body-nav .mdui-snackbar-bottom,
.body-nav .mdui-snackbar-right-bottom {
  bottom: 56px !important;
  z-index: 34 !important;
}


/****************btn****************/
.mdui-btn:hover {
  background-color: unset !important;
}

.mdui-toolbar[class*=mdui-color-]:not(.mdui-color-transparent) .mdui-btn:active {
  background-color: rgba(255, 255, 255, .165) !important;
}

.mdui-btn:not(.mdui-ripple):active,
.mdui-fab:not(.mdui-ripple):active {
  background-color: rgba(0, 0, 0, .165) !important;
}

/****************list-item****************/
.mdui-list-item:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.mdui-list-item:active:before {
  background-color: rgba(0, 0, 0, .1) !important;
}

.mdui-list-item:hover {
  background-color: unset !important;
}



/*****Slide Transition*****/
.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
  will-change: transform;
  transition: all 150ms;
  position: absolute;
}

.slide-right-enter {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.slide-right-leave-active {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.slide-left-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.slide-left-leave-active {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}


.mdui-theme-layout-dark #nav.mdui-bottom-nav,
.mdui-theme-layout-dark #drawer.mdui-drawer {
  color: #ffffff !important;
  background-color: #212121 !important;
}

/*****Text Selection*****/
.post-content {
  word-break: break-all;
}

.text {
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  touch-callout: auto;
  -webkit-touch-callout: auto;
  -webkit-user-drag: auto;
}

/*********vant***********/

.van-pagination {
  margin-top: 10px;
}

.van-pagination__item{
  transition: background-color .2s;
}
.mdui-theme-layout-dark .van-pagination__item {
  color: #fff !important;
  background-color: #212121 !important;
}

.mdui-theme-layout-dark .van-pagination__item:after {
  border: 0;
}


.mdui-theme-primary-teal .van-pagination__item {
  color: #009688;
  background-color: #ffffff;
}
.mdui-theme-primary-teal .van-pagination__item--active,
.mdui-theme-primary-teal .van-pagination__item:active {
  color: #ffffff !important;
  background-color: #009688 !important;
}
